@model IEnumerable<pweb_eCarSharing.Models.CarStation>

<table class="table">
    <h2>Car Station List</h2>
    <tr>
        <th>
            <label>Station Id</label>
        </th>
        <th>
            <label>Station Adress</label>
        </th>
        <th>
            <label>Station City</label>
        </th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stationAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stationCity)
        </td>
    </tr>
    }

</table>
